[submodule "obsidian-sync/markdownify"]
	path = obsidian-sync/markdownify
	url = git@github.com:matthewwithanm/python-markdownify.git
[submodule "obsidian-sync/markdown"]
	path = obsidian-sync/markdown
	url = git@github.com:Python-Markdown/markdown.git
[submodule "obsidian-sync/pyyaml"]
	path = obsidian-sync/pyyaml
	url = git@github.com:yaml/pyyaml.git
[submodule "obsidian-sync/send2trash"]
	path = obsidian-sync/send2trash
	url = git@github.com:arsenetar/send2trash.git
